body{
    background-color: black;
}
a{
    color: rgb(75, 4, 169);
    font-size: 30px;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}